body{
    background-image: url("../../../public/Library2.jpg");
   margin: 0;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
    
}

div{
    text-align: center;
}